services:
  app:
    build: .
    image: cocoshe/spotify-client
    container_name: spotify-client
    ports:
      - "3000:3000"
    environment:
      # qwen provider
      - DASHSCOPE_API_KEY=${DASHSCOPE_API_KEY}
      # Spotify API configuration
      - SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT_ID}
      - SPOTIFY_CLIENT_SECRET=${SPOTIFY_CLIENT_SECRET}
      - SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/auth/callback/spotify
      # NextAuth configuration
      - NEXTAUTH_URL=http://127.0.0.1:3000
      - NEXTAUTH_SECRET=a4a2f2ad50b0f599fe93999160ac08548d892427465fc410d32c4524903e0d1d
      # Last.fm API configuration
      - LASTFM_API_KEY=${LASTFM_API_KEY}
      - LASTFM_API_SECRET=${LASTFM_API_SECRET}
